
debugpy==1.6.0
decorator==5.1.1
ensemble==0.0.dev1
GitPython==3.1.27
gunicorn==20.0.4
ipython==8.3.0
ipython-genutils==0.2.0
matplotlib==3.5.2
matplotlib-inline==0.1.3
nltk==3.7
numpy==1.22.3
pandas==1.4.2
PyWavelets==1.3.0
scikit-learn==1.1.1
seaborn==0.11.2
webencodings==0.5.1
Werkzeug==2.1.2
wordcloud==1.8.2.2
xgboost==1.6.0
